#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container {
  height: 100%;
  width: 100%;

  z-index: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.navigation_bar {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.profile_button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 1;
}

.app_screen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}